.question-window {
  background-color: cadetblue;
  width: 33rem;
  height: 30rem;
  font-size: large;
  float: right;
  margin-right: 5rem;
  text-align: center;
}

.form-control {
    margin-top: 2rem;
    width: 90%;
    display: initial;
    font-size: 2rem;
}

.btn {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inherit;
    margin-left: 13rem;
    margin-top: 3rem;
}

.question {
  padding-top: 2rem;
  font-size: 2rem;
}

.right-answer {
  font-size: 2rem;
  color: snow;
}

