<nav class="navbar navbar-light">
  <img src="../assets/icons/angular-icon.svg" style="width: 50px;">
  <img src="../assets/icons/Jeopardy!_logo.png" style="width: 150px;">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
