table {
  max-width: 40rem;
  background-color: #5562c7;
  height: 30rem;
  float: right;
  margin-right: -4rem;
}

tr {
  border: 1px solid #5562c7;
}

.currentRoundName {
  font-family: cursive;
  color: coral;
  font-size: 30px;
}

.centeredField {
  text-align: center;
}

.currentPlayerParagraph {
  font-size: 18px;
}

.playerListItem {
  font-size: 18px;
}

.playerListItem:hover {
  transform: translateY(-3px);
  color: #79690f;
  cursor: pointer;
}
