<table class="table" *ngIf="!isSelectedQuestion && round !== 3">
    <tr *ngFor="let row of rows">
      <ng-container *ngFor="let question of questions; let i = index">
        <td *ngIf="i <= row && i >= row - 3">
          <app-question-cell [question]="question" (clicked)="showQuestionWindow($event)"></app-question-cell>
        </td>
      </ng-container>
    </tr>
</table>

<app-question-window
  *ngIf="isSelectedQuestion && round !== 3"
  [selectedQuestion]="selectedQuestion"
  (backEmmiter)="calculatePoints($event)"></app-question-window>

  <h1 *ngIf="round === 3">FINAL JEOPARDY</h1>

<div class="centeredField">
  <button class="btn btn-danger" (click)="uploadQuestionsInFireBase()">LOAD DATA</button>
  <p class="currentRoundName">{{ round === 1 ? 'Jeopardy!' : round === 2 ? 'Double Jeopardy!' : 'Final Jeopardy!' }}</p>
  <p>Current player: {{ currentPlayer }}</p>
  <div>
    <p *ngFor="let player of players; let i = index">{{player.playerNumber}}: {{player.score}}</p>

    <ng-container *ngIf="endRound">
      <p *ngIf="round === 3" class="text-danger">FINISH</p>
      <p *ngIf="round !== 3" class="text-danger">END OF ROUND</p>
      <button *ngIf="round !== 3" class="btn btn-info" (click)="nextRound()">NEXT ROUND</button>
    </ng-container>
  </div>
</div>



