<table class="table" *ngIf="!isSelectedQuestion">
    <tr *ngFor="let row of rows">
      <ng-container *ngFor="let question of questions; let i = index">
        <td *ngIf="i <= row && i >= row - 4" (click)="showQuestionWindow(question)"
           [ngClass]="question.value === 0 ? 'disabled-question' : 'active-question'">{{question.answer}}</td>
      </ng-container>
    </tr>
</table>

<app-question-window
  *ngIf="isSelectedQuestion"
  [selectedQuestion]="selectedQuestion"
  (backEmmiter)="calculatePoints($event)"></app-question-window>



<p>Current player: {{ currentPlayer }}</p>
<div>
  <p *ngFor="let player of players; let i = index">{{player.playerNumber}}: {{player.score}}</p>

  <ng-container *ngIf="endRound">
    <p class="text-danger">END OF ROUND</p>
    <button class="btn btn-info">NEXT ROUND</button>
  </ng-container>
</div>


