table {
  max-width: 40rem;
  background-color: #2a3698;
  height: 30rem;
  float: right;
  margin-right: -4rem;
}

tr {
  border: 1px solid #2a3698;
}

.naKikiKlasut {
  font-family: cursive;
  color: coral;
  font-size: 30px;
}

.naKikiVGuza {
  text-align: center;
}
