table {
  background-color: #2a3698;
  width: 33rem;
  height: 30rem;
  font-size: large;
  float: right;
  margin-right: 8rem;
}

table, th, td {
  border: 1px solid black;
}

td {
  color: yellow;
}

.active:hover {
  background-color: yellow;
  color: black;
}

.question {
  border: 8px solid black;
  text-align: center;
  font-size: 40px;
  padding-top: 1.4rem;
}
.disabled {
  pointer-events: none;
  background-color: grey;
}
