@import "assets/primeflex.css";

.component-container {
  background-color: #cff0ff;
  border-radius: 8px;
  padding: 1rem;
  min-width: 14rem;
}

body {
  background-color: #eeeeeec9;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td, table th {
  padding: 1.75rem !important;
  border-left: 2px solid black !important;
  border-right: 2px solid black !important;
  border-top: 1px solid #5562c7 !important;
}


#id3 span {
    display: block;
    font-size: 5rem;
    color: aliceblue;
}
